body{
    font-family:'Segoe UI';
    color: #333;
    height: 10vh;
    overflow: auto;
    background: 
}


.header{
    background-color:black;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


section {
    background-color: black;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 300px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Menu{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:0;
    z-index: 1000;
}

.Menu ul{
    list-style:none;
    margin:0;
    padding:25px;
    display:flex;
    justify-content: center;
    gap: 20px;
}

.Menu a{
    background-color:red;
    color: white;
    text-decoration:none;
    font-size: 18px;
    padding: 15px 10px;
    transition: 0.3s;
    border-radius: 20px;
}

.Menu a:hover{
    background-color:white;
    color: black;
    border-radius: 4px;
}

h1{
    font-size: 200px;
    padding: 150px;
    font-family: 'Karedoks Demo';
    
}

img{
    position: absolute;
    top: 100px;
    left:2500px;
    display:flex;
    width:15%;
}

h2{
    position:fixed;
    font-size: 120px;
    color:white;
    left:45%;
   
}

h3{
    
    font-size: 120px;
    color:white;
    position:absolute;
    top: 70%;
  
}
